/* main styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

header, main {
  padding: 30px 50px 0px 50px;
  margin: auto;
}

/* banner */
.banner-bg {
  background-image: url("../images/Banner\ Image.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.banner-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(255, 255, 255, 0)
  );
  min-height: 500px;
  border-radius: 10px;
}

.hnyear {
  text-align: center;
  font-size: 32px;
  font-weight: 300;
}

.banner-head {
  font-size: 72px;
  text-align: center;
}

/* discount section */

.discount {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
}

.discount-text h1 {
  font-size: 88px;
  color: #ff0000;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}

.discount-text p {
  color: #ff0000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.discount-text h2 {
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: bold;
}

.discount img {
  width: 100%;
}

/* Party Styles */

.party-bg {
  margin-top: 100px;
  background-image: url("../images/Vectorrr.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.party-content {
  min-height: 500px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(255, 255, 255, 0)
  );
  border-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 60%;
  padding-left: 100px;
}

.party-content h1 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 64px;
  margin-bottom: 20px;
}

.party-content p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #ffffffca;
}

.join-btn {
  background: #000;
  padding: 10px 20px;
  color: #fff;
  margin-top: 20px;
  border-radius: 5px;
  border: 0;
  font-family: "Inter", sans-serif;
}

/* event section style */
.event-bg {
  height: 500px;
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0)
  );
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.event-content {
  text-align: center;
}

.event-content span,
.event-content p {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  text-align: center;
}

.event-content p {
  margin-bottom: 10px;
}

.title {
  color: #ff0000;
}

.event-btn {
  background: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin: 20px 0;
}

/* offer section   */

.offer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.best-offer {
  width: 40%;
}
.best-offer h3 {
  color: #ff0000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.best-offer h2 {
  font-size: 48px;
  font-family: "Merriweather", serif;
}

.best-offer p,
.hny p,
.holiday-text p {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.6);
}

.ellipse-img {
  width: 30%;
  border-radius: 50%;
  border: 10px solid #ff0000;
  padding: 20px;
}

.ellipse-img img {
  display: block;
  width: 100%;
}

.hny {
  width: 30%;
}

.hny h3 {
  color: #ff0000;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.hny img {
  width: auto;
  display: block;
  margin-top: 20px;
}

/* holiday section  */
.holiday-text {
  width: 70%;
  margin: 50px auto;
  text-align: center;
}

.holiday-text h4 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.holiday-text h1 {
  font-family: "Merriweather", serif;
  font-size: 72px;
  margin: 20px 0;
}

.holidays {
  color: #ff0000;
}

.parent {
  width: 100%;
  height: 600px;
  background-image: url("../images/Rectangle\ 2.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  position: relative;
}

.child {
  width: 100%;
  height: 421px;
  background-image: url("../images/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.child img {
  margin-right: 260px;
}

.parent .box {
  display: block;
  position: absolute;
  /* float: left; */
  bottom: 30px;
  left: 30px;
  width: 500px;
}

/* gift section style   */
.gift-text {
  color: #ff0000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  margin: 50px 0 20px 0;
}

.gift-heading {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  margin-bottom: 20px;
}

.gift-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
}

.gifts-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.gift{
    width: 30%;
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
}

.gift img{
    width: 100%;
    scale: 1.2;
}

.gift:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* newsletter section styles  */
.newsletter-section{
    min-height: 600px;
    background-color: rgba(255, 0, 0, .05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.img-container{
    width: 150px;
    margin: 40px 0;
}

.img-container img{
    width: 100%;
}

.newsletter-section h2{
    color: #070211;
    font-size: 48px;
  font-family: "Merriweather", serif;

}

.newsletter-section p{
    font-size: 20px;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  width: 75%;
  margin: 20px auto ;
  text-align: center;
}

.newsletter-section form{
    width: 100%;
    text-align: center;
}

.user-email{
    width: 30%;
    display: inline-block;
    padding: 20px 10px;
    border: 0;
    border-radius: 30px 0 0 30px;
}

.sub-btn{
    background: #FF0000;
    color: #fff;
    border: 0;
    border-radius: 0 30px 30px 0;
    width: 15%;
    display: inline-block;
    padding: 20px 20px;
}

/* footer styles  */


footer{
    background-color: #080212;
    margin: 0;
    color: #FFFFFF;
    padding:100px ;
}

.contact-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.links{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
.links a{
    text-decoration: none;
    width: 60px;
}
.links img{
    width: 100%;
}

footer hr{
    margin: auto !important;
    background: rgba(255, 255, 255, 0.15);
    height: 1px;
    border: none;
}