/* main styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

body {
  padding: 30px 50px 0px 50px;
}

/* banner */
.banner-bg {
  background-image: url("../images/Banner\ Image.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.banner-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(255, 255, 255, 0)
  );
  min-height: 500px;
  border-radius: 10px;
}

.hnyear {
  text-align: center;
  font-size: 32px;
  font-weight: 300;
}

.banner-head {
  font-size: 72px;
  text-align: center;
}

/* discount section */

.discount {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
}

.discount-text h1 {
  font-size: 88px;
  color: #ff0000;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}

.discount-text p {
  color: #ff0000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.discount-text h2 {
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: bold;
}

.discount img {
  width: 100%;
}

/* Party Styles */

.party-bg {
    margin-top: 100px;
  background-image: url("../images/Vectorrr.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.party-content {
  min-height: 500px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(255, 255, 255, 0)
  );
  border-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 60%;
  padding-left: 100px;
}

.party-content h1 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 64px;
  margin-bottom: 20px;
}

.party-content p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #ffffffca;
}

.join-btn{
    background:  #000;
    padding: 10px 20px;
    color: #fff;
    margin-top: 20px;
    border-radius: 5px;
    border: 0;
  font-family: "Inter", sans-serif;

}
